/* Styles */

.i-background{
    background: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
}
.i-nav{
    background: #519bd0;
    display: flex;
    flex-direction: column;
}
.i-profile{
    object-fit: cover;
    width: 38px;
    height: 38px;
    flex-shrink: 0;
}
.head-content{
    display: flex;
    align-items: flex-start;
    justify-content: end;
    position: sticky;
    top: 0;
    background: #f5f5f5;
    z-index: 1;
}

.i-title{
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 2rem;
}
.i-subtitle{
    font-size: 24px;
}

.head-content h1{
    flex-grow: 1;
}

.head-content .input-group{
    width: 100%;
}
.head-content .input-group input{
    border: none;
}
.head-content .input-group .input-group-text{
    background: #fff;
    border: none;
}

.content{
    align-items: flex-start;
    height: 100%;
    overflow: auto;
    align-content: flex-start;
}

.i-icon{
    width: 38px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
}
.i-table{
    text-align: center;
}

.i-table td {
    height: 40px;
    width: 40px;
}
.i-table th{
    padding: 4px;
    font-size: 12px;
}
.i-table .i-day{
    height: 100%;
    border-radius: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
}

.i-table .i-day[status="disabled_day"]{
    background: #fff2d9;
}
.i-table .i-day[status="out_frecuency_day"]{
    background: #c0392b;
    color: white;
}
.i-table .i-day[status="reserved_day"]{
    background: #27ae60;
    color: white;
}
.i-table .i-day[status="service_day"]{
    background: #dfdfdf;
}
.i-table .i-day[i-another]{
    color: #dfdfdf;
}

.i-route{
    padding-left: 0;
    height: 300px;
    overflow-x: hidden;
    padding: 5px;
    li{
        cursor: default;
        list-style: none;
        position: relative;
        margin-bottom: 8px;
        background-color: #f5f5f5;
        padding-left: 6px;
        &[selected="selected"]::before{
            background-color: #07ac15;
        }
        &::before{
            content: "";
            width: 8px;
            height: 100%;
            display: block;
            left: -8px;
            top: 0;
            position: absolute;
            background-color: #9bdd7c;
        }
    }
}

.i-menu{
    padding-left: 0;
}
.i-menu li{
    list-style: none;
    position: relative;
    margin-bottom: 8px;
    color: #f5f5f5;
    padding-left: 6px;
}

.i-date-field{
    margin-bottom: 1rem;
}



.mx-datepicker-range{
    input{
        border: none;
        border-radius: 15px;
        height: 44px;
        box-shadow: none;
    }
}

.day-name{
    text-overflow: ellipsis;
    width: 30px;
    overflow: hidden;
    display: block;
}
.i-main-page{
    padding: 3rem 0 0;
}

.i-nav-dates{
    align-items: center;
    margin-bottom: 1rem;
    h1{
        margin: 0 !important;
    }
    button{
        border: none;
        background: none;
    }
}

[show="active"]{
    display: block;
}
[show="none"]{
    display: none;
}
@media (min-width: 576px) {
    .w-md-revert{
        width: revert;
    }
    .text-center-md-revert{
        text-align: revert !important;
    }
    .head-content .input-group {
         width: 200px;
    }
    .i-title{
        margin-bottom: revert;
    }

    .i-table td{
        height: 70px;
        width: 70px;
    }
    .day-name{
        text-overflow: ellipsis;
        width: revert;
        overflow: revert;
    }
    .i-main-page{
        padding: 3rem 1.5rem 1.5rem;
    }
}
@media (min-width: 768px) {
    .i-date-field{
        margin-bottom: revert;
    }
}
