<template>
    <div class="container-fluid i-background vh-100">
      <div class="row h-100 i-main-page">
        <div class="col-lg-3 d-none d-lg-block">
          <div class="i-nav p-5 rounded-5 h-100 pb-1">
            <br>
            <br>
            <br>
            <ul class="i-menu" style="flex-grow: 1;">
                <li>
                    <i class="fa-regular fa-circle"></i>  Dashboard
                </li>
                <li>
                    <i class="fa fa-tag"></i>  Transactions
                </li>
                <li>
                    <i class="fa fa-gear"></i>  Schedules
                </li>
                <li>
                    <i class="fa-regular fa-circle-user"></i>  Users
                </li>
                <li>
                    <i class="fa fa-business-time"></i>  Settings
                </li>
            </ul>

            <ul class="i-menu">
                <li>Helps</li>
                <li>Contact us</li>
            </ul>
        </div>
        </div>
        <div class="col-md-12 col-lg-9 row content pe-0 ">
          <div class="col-12 head-content flex-wrap flex-md-nowrap">
            <h1 class="i-title w-100 w-md-revert text-center-md-revert">Shedules</h1>

            <div class="d-flex w-100 w-md-revert justify-content-end">
                <div class="input-group mb-3 me-1">
              <input
                type="text"
                class="form-control"
                aria-label="Text input with checkbox"
              />
              <div class="input-group-text">
                <i class="fa fa-search"></i>
              </div>
            </div>

            <div class="i-icon me-1">
              <i class="fa-regular fa-bell"></i>
            </div>

            <img
              src="https://i.pinimg.com/originals/18/71/8f/18718f5fa70af55d0ee1a9aa14f1fcd4.jpg"
              class="rounded-circle i-profile"
            />
            </div>
          </div>

          <div class="div-12 row i-date-field">
            <label class="col-12 col-md-4">
              Seleccione fecha
                <date-picker v-model="filters.dates" @change="applyFilters" range valueType="format" format="YYYY-MM-DD"></date-picker>
            </label>
          </div>
          <div class="col-12 row flex-column-reverse flex-md-row">
            <div class="col-sm-12 col-md-8 p-2">

            <div class="bg-white rounded-5 p-4" v-for="(item, j) in calendar" :key="item.day" :show="item.show">

                <div class="d-flex i-nav-dates">
                    <h1 class="i-title flex-grow-1">{{ item.month_name }} {{ item.year }}</h1>
                <button :disabled="j == 0" @click="go('back', j)"><i class="fas fa-chevron-left"></i></button>
                <button :disabled="j == (calendar.length - 1)" @click="go('next', j)"><i class="fas fa-chevron-right"></i></button>
                </div>


                <table class="i-table mx-auto">
                    <tr>
                    <th> <span class="day-name">Sunday</span> </th>
                    <th><span class="day-name">Monday</span></th>
                    <th><span class="day-name">Tuesday</span></th>
                    <th><span class="day-name">Wednesday</span></th>
                    <th><span class="day-name">Thursday</span></th>
                    <th><span class="day-name">Friday</span></th>
                    <th><span class="day-name">Saturday</span></th>
                    </tr>
                    <tr v-for="(week, indexWeek) in item.days" :key="indexWeek">
                        <td v-for="(day, index) in week" :key="index">
                            <div class="i-day" :status="day.status"> {{day.day=="0"?"":day.day}}</div>
                        </td>
                    </tr>
                </table>


            </div>

          </div>

          <div class="col-sm-12 col-md-4 p-2">
            <div class="bg-white rounded-5 p-4 h-100">
              <h1 class="i-subtitle">Rutas disponibles</h1>

              <br>

              <ul class="i-route">
                <li v-for="item in routes" :key="item.id" :selected="item.id == routeSelected" @click="selectRoute(item)">
                    {{ item.title }}
                </li>
              </ul>
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>
</template>

<script>

import DatePicker from 'vue2-datepicker';
import 'vue2-datepicker/index.css';


    export default {
        components: { DatePicker },
        props: {

        },
        data() {
            return {
                filters: {
                    dates: ['2021-11-01', '2021-12-31'],
                    route: this.routeSelected
                },
                routeSelected: null,
                calendar: Object,
                routes: []
            }
        },
        mounted() {
            this.applyFilters();
        },
        methods: {
            selectRoute(item){
                this.routeSelected = item.id;
                this.applyFilters();
            },
            applyFilters(){

                axios.get('/api/calendar/info', {
                        params: this.filters
                    })
                    .then((response) => {
                        this.calendar = response.data.data
                        console.log(this.calendar)
                    })

                axios.get('/api/routes', {
                        params: this.filters
                    })
                    .then((response) => {
                        this.routes = response.data.data
                    })
            },
            go(type, index) {

                let showNow = type == 'next' ? index + 1 : index - 1;

                this.calendar.forEach((item, key) => {

                    if (showNow == key)
                        item.show = "active"
                    else
                        item.show = "none"
                });
            }
        }
    }
</script>
